header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header h1{
    font-size: 6.5rem;
    color: darkgrey;
}
*{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}